<h1>Create a new landmark</h1>
<form action='/landmarks' method='POST'>
	<label for="landmark">Name: </label>
	<input type="text" name="landmark[name]" id="landmark_name">

	<br></br>

	<label for="year_completed">Year Completed: </label>
	<input type="text" name="landmark[year_completed]" id="landmark_year_completed">

	<br></br>

	<input type="submit" name="Create" id="Create New Landmark">
</form>